.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: 'Helvetica Neue';

  .header {
    display: flex;
    flex-direction: column;
    position: relative;

    .sprite {
    }
  }
  .pokename {
    color: var(--black);
    font-family: Pokemon;
    font-size: 5vw;
  }

  .artwork {
    position: relative;
    animation: fadeUp 0.6s;
    animation-timing-function: cubic-bezier(0.26, 0.43, 0.35, 1);

    @keyframes fadeUp {
      0% {
        opacity: 0;
        transform: translateY(10%);
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    &::before {
      content: '';
      position: absolute;
      background-color: var(--white);
      border-radius: 100%;
      width: 15rem;
      height: 15rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  }
  .attributes-container {
    display: flex;
    gap: 2rem;

    h3 {
      text-align: center;
      font-size: 2rem;
    }

    .attributes {
      background-color: var(--white);
      width: 10rem;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      padding: 1rem 1rem;
    }
  }
}
