@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.attributes-container {
  align-items: center;
  animation: fade 0.6s ease-out;
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 4rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 8rem;
  }

  .attributes {
    align-items: center;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30rem;
    padding: 2rem;
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;
      padding: 0;
      text-transform: uppercase;
      width: 100%;
    }

    h3 {
      font-family: var(--brand-font);
      text-align: center;
      text-transform: capitalize;
    }
  }
}

.progressbar {
  padding: 0;
  width: 100%;

  @media (min-width: 1024px) {
    width: 20rem;
  }
}

.artwork {
  border: 5px solid var(--white);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.background {
  background: url('../../../public/assets/images/stats-background.webp');
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  height: 100%;
  margin-left: -3rem;
  margin-top: -1rem;
  position: absolute;
  top: 0;
  transform: scale(1.4);
  width: 100%;
  z-index: -1;
}
