.container {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  font-family: 'Helvetica Neue';
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  input {
    border-radius: 1rem;
    border: 3px solid #d3d3d3;
    height: 3rem;
    width: 17rem;

    padding: 0 1rem;
    font-size: 1.1rem;

    font-family: var(--paragraph-font);

    &:focus {
      outline: none;
      border: 3px solid var(--yellow);
    }
  }
  .button {
    color: var(--white);
    border: none;
    font-size: 1.5rem;
    padding: 0.3rem 1.5rem;
    background-color: var(--black);
    border-radius: 1rem;
  }
}
