@keyframes bounce {
  0% {
    transform: translateY(-2.5%);
    box-shadow: 0 30px 15px 0px rgba(0, 0, 0, 0.4);
  }

  50% {
    transform: translateY(2.5%);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.75);
  }

  100% {
    transform: translateY(-2.5%);
    box-shadow: 0 30px 15px 0px rgba(0, 0, 0, 0.4);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  align-items: center;
  animation: fade 0.6s ease-out;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue';
  justify-content: center;

  @media (min-width: 1024px) {
    margin-right: 10rem;
  }
}

.card {
  align-items: center;
  animation: bounce 5s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  background: url('../../../public/assets/images/card-background.webp');
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  font-family: var(--brand-font);
  justify-content: center;
  padding-bottom: 1.25rem;
  padding-top: 5rem;
  position: relative;
  width: 20rem;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.75);
  }

  @media (min-width: 1024px) {
    width: 25rem;
  }
}

.top {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: inherit;

  .artwork-container {
    bottom: -2rem;
    position: absolute;
  }

  .artwork {
    filter: drop-shadow(3px 2px 3px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(3px 2px 3px rgba(0, 0, 0, 0.3));
  }
}

.bottom {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokename {
  color: var(--white);
  font-size: 2.75rem;
  font-family: pokemon;
  margin: 0;
  text-align: center;

  @media (min-width: 1024px) {
    font-size: 3.5rem;
  }
}

.height-weight {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: center;
  text-align: center;

  section {
    line-height: 0.25;

    p {
      color: var(--yellow);

      @media (min-width: 1024px) {
        font-size: 1.2rem;
      }
    }
  }
}

.identifier {
  align-items: center;
  background: var(--gold-id);
  border-radius: var(--border-radius);
  bottom: -2.25rem;
  color: var(--white);
  display: flex;
  font-family: var(--brand-font);
  font-size: 1.4rem;
  justify-content: center;
  padding: 0.2rem 1.5rem;
  position: absolute;
  text-shadow: var(--text-shadow);

  @media (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

.types {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1.25rem;
  margin-top: 0.5rem;
  text-transform: capitalize;

  .type {
    border-radius: var(--border-radius);
    padding: 0.1rem 0.5rem;
  }
}

// type classes
.normal {
  outline: 1px solid white;
}

.fire {
  background: #ee8130;
}

.water {
  background: #6390f0;
}

.electric {
  background: #f7d02c;
}

.grass {
  background: #7ac74c;
}

.ice {
  background: #96d9d6;
}

.fighting {
  background: #c22e28;
}

.poison {
  background: #a33ea1;
}

.ground {
  background: #e2bf65;
}

.flying {
  background: #a98ff3;
}

.psychic {
  background: #f95587;
}

.bug {
  background: #a6b91a;
}

.rock {
  background: #b6a136;
}

.ghost {
  background: #735797;
}

.dragon {
  background: #6f35fc;
}

.dark {
  background: #705746;
}

.steel {
  background: #b7b7ce;
}

.fairy {
  background: #d685ad;
}
