@font-face {
  font-family: 'Pokemon';
  src: url('../public/assets/fonts/PokemonHollow.woff2') format('woff2');
}

@font-face {
  font-family: 'FrancoisOne';
  src: url('../public/assets/fonts/FrancoisOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'InterB';
  src: url('../public/assets/fonts/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'InterM';
  src: url('../public/assets/fonts/Inter-Medium.woff') format('woff');
}

:root {
  --off-black: #323232;
  --black: #141316;
  --black-card: linear-gradient(#3a3a3a, #2d3436);
  --white: #ffffff;
  --off-white: #f3f5f7;
  --yellow: #f7ba14;
  --gold-id: linear-gradient(#fad921, #f7ba14);
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --brand-font: 'InterB';
  --paragraph-font: 'InterM', Roboto, sans-serif;
  --text-shadow: 1px 1px 0px var(--black);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --border-radius: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--white);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
