.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  margin-top: 2.5rem;

  .left {
    display: flex;

    align-items: center;
    justify-content: center;

    .errors {
      color: var(--black);
      position: absolute;
      font-size: 1.2rem;
      bottom: 21rem;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
  }
}
.abilities {
  margin-top: 5rem;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;

    .right {
      height: 20rem;
      width: 100%;
    }
    .left {
      width: 100%;
    }
  }
}
