.questionmark {
  font-family: Pokemon;
  font-size: 30rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 6rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    margin-top: 2.5rem;
  }
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (min-width: 1024px) {
    margin-top: 5rem;
    flex-direction: row;
    width: 100%;
  }

  .errors {
    color: #be123c;
    position: absolute;
    font-size: 0.87rem;
    top: -4rem;
    text-align: center;
    background-color: #fff0f2;
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius);

    @media (min-width: 1024px) {
      top: -4rem;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18rem;
  padding-bottom: 2rem;

  @media (min-width: 1024px) {
    height: 20rem;
    width: 100%;
  }
}

.abilities {
  margin-top: 5rem;
}
