.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;

  .left {
    display: flex;

    align-items: center;
    justify-content: center;

    .errors {
      color: var(--black);
      position: absolute;
      font-size: 1.2rem;
      bottom: 21rem;
    }
  }
  .right {
    margin-top: 12rem;
  }
}
.abilities {
  margin-top: 5rem;
}

@media (min-width: 640px) {
  .container {
    flex-direction: row;
    .left {
      width: 45%;
      height: auto;
    }

    .right {
      width: 40%;
      margin-top: 0;
    }
  }
}
